::ng-deep {
  .mat-mdc-form-field-focus-overlay {
    background-color: #10b981;
  }

  .mat-mdc-text-field-wrapper {
    background-color: #f9fafb !important;
  }

  .mat-mdc-form-field.mat-focused {
    .mat-mdc-floating-label {
      color: #10b981;
    }
  }
}

table {
  width: 100%;
}

th.mat-header-cell {
  background-color: #f9fafb;
  padding: 16px;
}

td.mat-cell {
  padding: 16px;
}

tr.mat-row:hover {
  background-color: #f3f4f6;
}

mat-icon {
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
